@model IEnumerable<Soqia.Models.Tank>

@{
    ViewData["Title"] = "Select Tank";
}

<h1>Select a Tank</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Water Type</th>
            <th>Price (per barrel)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Location)</td>
            <td>@Html.DisplayFor(modelItem => item.WaterType)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>
                <a asp-action="CreateOrder" asp-route-tankId="@item.Id">Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
